.l-dashboard__main {
  display: flex;
  flex-direction: column;
}

.l-dashboard__page-content {
  display: grid;
  flex: 1;
  padding: 0 16px;
  grid-column-gap: 16px;
  grid-template: 100% / 62rem auto;
  min-height: 0;
}

.l-dashboard__container-left {
  overflow-y: auto;
}

.l-dashboard__container-right {
  display: flex;
}
