.color--grey {
  color: #666;
}

.color--grey-lighter {
  color: #999;
}

.color--grey-light {
  color: #a6a6a6;
}

.color--white {
  color: #fff;
}

.color--dark {
  color: #333;
}

.color--chetwod-blue {
  color: #7f7fd5;
}

.color--disabled {
  color: #ccc;
}
