.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text--small {
  font-size: 1.2rem;
}

.text--smaller {
  font-size: 1.1rem;
}

.text--big {
  font-size: 1.8rem;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: 700;
}

.text-regular-weight {
  font-weight: 400;
}

.text-lead {
  font-size: 14px;
}
