.text-center {
    text-align: center;
}

.header {
    font-weight: 700;
    font-size: 3.4rem;
    letter-spacing: -0.4px;
    color: #333;
    margin-bottom: 7.8rem;
}

.login-form {
    padding-top: 3.3rem;
    width: 320px;
}

    @media screen and (max-width: 1023px) {
        .login-form {
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 350px) {
        .login-form {
            width: 100%;
        }
    }

.login-form .logo-container {
    margin-bottom: 3.3rem;
}

.login-form .extra {
    display: flex;
    margin-bottom: 6.5rem;
}

.login-form .remember-me {
    margin-right: auto;
    font-size: 12px;
    color: #666;
}

    .login-form .remember-me span:hover {
        cursor: pointer;
    }

.login-form .forgot-password {
    font-size: 12px;
    color: #666;
}

.login-form .forgot-password a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-form .register {
    color: #666;
    font-size: 12px;
}

    .login-form .register a {
        text-decoration: underline;
    }

    .login-form .register a:hover {
        cursor: pointer;
    }

.checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
}

    .checkbox input {
        display: none;
    }

    .checkbox .checkbox-ui {
        width: 16px;
        height: 16px;
        background: #7f7fd5;
        color: #fff;
        line-height: 16px;
        border-radius: 2px;
        font-size: 12px;
    }

    .checkbox .checkbox-ui:hover {
        cursor: pointer;
    }

.input {
    position: relative;
    margin-bottom: 3.5rem;
}

    .input input {
        display: block;
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
        color: #999;
        font-size: 1.4rem;
        padding: 1.3rem 0;
    }

    .input input::placeholder {
        color: #999;
    }

    .input .icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
    }

    .input .icon--hover:hover {
        cursor: pointer;
    }

    .input--extra-offset-bottom {
        margin-bottom: 6rem;
    }

.login-btn {
    display: block;
    margin: 0 auto;
    width: 206px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-image: linear-gradient(to right, #7f7fd5, #86a8e7 48%, #91eae4);
    border-radius: 25px;
    margin-bottom: 2rem;
}

    .login-btn:hover {
        cursor: pointer;
    }

    .login-btn:active {
        position: relative;
        top: 2px;
    }

.wave {
    position: absolute;
    height: 31.9rem;
    background: url('../../assets/login-page/wave/@1x.png') no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

    @media screen and (max-width: 1023px) {
        .wave {
            position: fixed;
            background-size: cover;
            background-position: top center;
        }
    }

.sidenav {
    background: #2e324d;
    height: 100%;
}

    .sidenav .item {
        position: relative;
        height: 56px;
        line-height: 56px;
        text-align: center;
    }

    .sidenav .item:before {
        content: ' ';
        position: absolute;
        width: 2px;
        height: 32px;
        background: #91eae4;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .3s linear;
    }

        .sidenav .item:hover:before,
        .sidenav .item.active:before {
            opacity: 1;
        }

        .sidenav .item:hover path,
        .sidenav .item.active path{
            fill: #91eae4;
        }

        .sidenav .item:hover,
        .sidenav .item:hover *{
            cursor: pointer;
        }

    .sidenav .item svg {
        vertical-align: middle;
    }

    .sidenav .item--open svg {
        width: 16px;
        height: 14px;
    }

    .sidenav .item--dashboard svg {
        width: 18px;
        height: 18px;
    }

    .sidenav .item--apps svg {
        width: 18px;
        height: 16px;
    }

    .sidenav .item--reports svg {
        width: 18px;
        height: 18px;
    }

    .sidenav .item--downloads svg {
        width: 18px;
        height: 18px;
    }

    .sidenav .item--documentation svg {
        width: 16px;
        height: 14px;
    }

    .sidenav .item path {
        transition: fill .3s linear;
    }
