.app-info-dashboard {
  display: flex;
}

.app-info-dashboard__icon-container {
  width: 6.4rem;
}

.app-info-dashboard__legend-container {
  margin-right: 1.2rem;
}

.app-info-dashboard__title-container {
  margin-bottom: 1rem;
}

.app-info-dashboard__text-container {
  display: flex;
}

.app-info-dashboard__geo-icon {
  position: relative;
  top: -1px;
}
